/.idea/
/target/
/*.iml
/src/test/resources/x/Season 1/renamelog.txt
/src/test/resources/x/Season 1/x - S01E01.AVI
/src/test/resources/x/Season 1/x - S01E02.AVI
/src/test/resources/x/Season 1/x - S01E03.AVI
out/artifacts/renamer_jar/renamer.jar
